ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  border-right: 1px solid #bbb;
  float: left;
}

li:last-child {
  border-right: none
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 10px;
  font-size:17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text], .button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.button {
  border: none;
  background-color: #333;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #999;
  color: azure;
}

.aligncenter {
  text-align: center;
  margin: 0px 0px;
  background-color: #333;
}

.aligncenter img {

}